<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="connectionString_ADO"
         connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\maxam\source\repos\DGPI_Labs\DGPI_Labs\Data\TestDB.mdf;Initial Catalog=TestDB;Integrated Security=True"/>
	</connectionStrings>
</configuration>